
*.xcscheme

ControlCenter.xcodeproj/xcuserdata/haha370104.xcuserdatad/xcschemes/ControlCenter.xcscheme

Pods/

ControlCenter.xcworkspace/contents.xcworkspacedata


*.xml

*.iml

ControlCenter.xcworkspace/xcuserdata/haha370104.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
